body, html{
    height: 100%;
    width: 100%;
    background: rgb(232, 232, 232);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif ;
}

h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
}

hr{
    border: 0px;
    height: 2px;
    background: #ddd;
    width: 100%;
}

.wrapper{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background: white;
    max-width: 1000px;
    width: 100%;
    min-height: 100%;
    margin: 0px auto;
}

.header{
    box-sizing: border-box;
    width: 100%;
    color: azure;
    background: #344C95;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.sub-header{
    padding: 10px;
    box-sizing: border-box;
    background: rgb(244, 244, 244);
}

.sub-header h2{
    font-size: 1.4em;
}

.list-apps{
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-apps li{
    width: 100%;

}

.list-apps li a{
    text-decoration: none;
    width: 100%;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    color: #333;
}

.list-apps li a .icon{
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid #eee;
}

.list-apps li a .vstack{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.list-apps li a .vstack .title{
    font-size: larger;
}

.list-apps li a .vstack .version{
    font-size: small;
    margin-top: 3px;
    margin-bottom: 10px;
}

.btn{
    border: 0px;
    text-decoration: none !important;
    background: #009dff;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    font-size: medium;
    height: 30px;
    border-radius: 15px;
}

.hstack{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 1.5em;
    margin-left: 10px;
}

.content{
    padding: 10px 20px;
    box-sizing: border-box;
}

.video-wrapper{
    background: #ddd;
    padding: 10px;
    box-sizing: border-box;
}

