<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Monitoreo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B9E01504058D664E74D2BE12910945DAD07E1A5A</string>
				<key>dateExpires</key>
				<string>14/1/24</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X9YH3DH55R.org.reactjs.native.example.Monitoreo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X9YH3DH55R</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>X9YH3DH55R.org.reactjs.native.example.Monitoreo</string>
				</array>
			</dict>
			<key>name</key>
			<string>Monitoreo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eaa315ac-e5c0-4b1d-96ec-eef32eed0131</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: org.reactjs.native.example.Monitoreo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X9YH3DH55R</string>
				<key>name</key>
				<string>Gobierno De La Republica De Honduras</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
